<h1><%= @task.details %></h1>
<div>
<%= link_to "âœï¸Edit this task", edit_path%>
</div>

<div>
<%= link_to "âŽGo back to index", tasks_path%>
</div>

<%= link_to "ðŸ—‘",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
